* {
  box-sizing: border-box;
}

body {


}

/* Barra de navegación */

.navbar {
  
    padding: 2rem;
    background-color: whitesmoke;
   
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: none;
}

/* Diseño responsive, salto a computadora: */

@media (min-width: 760px) {

.navbar-brand {
    display: block;
}


}