/* Estilos generales */

/*
* {
  box-sizing: border-box;
}

body {



}

*/


/* Barra de navegación */



.navbar {
  
    padding: 2rem;
    background-color: whitesmoke;
   
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: none;
}

/* Sección Principal */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    /*font-family: 'Roboto', sans-serif;*/
}

.principal {
    background-color: blueviolet;
    min-height: 450px;
    text-align: center;

}

.principal-inicio {
    padding: 3rem;
}




/* Diseño responsive, salto a computadora: */

@media (min-width: 450px) {

/* Barra de navegación */

.navbar-brand {
    display: block;
}


}


/* Sección Principal */
